.base-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px ;
    .header {
      font-size: 24px;
      font-family: "Open Sans", sans-serif;
      width: 1000px;
      margin: 10% auto;
      margin: 0;
      color: #613;
      text-align: center;
      font-weight: 600;
      text-transform: uppercase;
      text-align: center;
      font-size: 5em; color: transparent;
      background: linear-gradient(180deg, #fefefe, #bbb);
      background-clip: text;
      filter:
        drop-shadow( -1px -1px white )
        drop-shadow( 1px 1px darken(white, 50%) )
        drop-shadow( 1px 1px darken(white, 52%) )
        drop-shadow( 1px 1px darken(white, 54%) )
        drop-shadow( 1px 1px darken(white, 56%) )
        drop-shadow( 1px 1px darken(white, 58%) )
        drop-shadow( 1px 1px darken(white, 60%) )
        drop-shadow( 1px 1px darken(white, 62%) )
        drop-shadow( 1px 1px darken(white, 64%) )
        drop-shadow( 1px 1px darken(white, 66%) )
        drop-shadow( 1px 1px darken(white, 68%) )
        drop-shadow( 1px 1px darken(white, 70%) )
        drop-shadow( 12px 12px 30px rgba(black, 0.2) )
        drop-shadow( 12px 12px 10px rgba(black, 0.2) )
      ; 
    }
    
    
      color: #f4f4f4;
     
    


    .content {
      display: flex;
      flex-direction: column;
  
      .image {
        width: 11em;
        img {
          width: 80%;
          height: 110%;
          border-radius: 50%;
        }
        
      }
  
      .form {
        margin-top: 0em;
        display: flex;
        flex-direction: column;
        align-items: center;
  
        .form-group {
          .forgot {
             font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
             font-style:italic;
             font-variant: small-caps;
             a:visited { 
              text-decoration: none; 
              color: white; 
             }
          }
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          width: fit-content;
          label {
            font-size: 20px;
          }
          input {
            margin-top: 6px;
            min-width: 18em;
            height: 37px;
            padding: 0px 10px;
            font-size: 16px;
            font-family: "Open Sans", sans-serif;
            background-color: #e5d2d2ec;
            border: 0;
            border-radius: 4px;
            margin-bottom: 31px;
            transition: all 200ms ease-in-out;
            &:hover {
              background-color: #ffffff;
              box-shadow: 0px 0px 14px 0.3px #0e82ce96;
            }
  
            &:focus {
              outline: none;
              box-shadow: 0px 0px 12px 0.8px #3474dbb2;
            }
          }
        }
      }
    }
  
    .footer {
      margin-top: 3em;
    }
  } 